.formCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 80px;
  width: 650px;
  margin-top: 2em;
  margin-bottom: 2em;

  border-radius: 22px;
  background: #e0e0e0;
  /* box-shadow: 4px 4px 9px #b5b5b5, */
  box-shadow: 4px 4px 9px #a8a8a8,
    -4px -4px 9px #ffffff;

  h3 {
    margin: auto;
  }

  p {
    margin: auto;
  }

  .formButton {
    margin: auto;
  }

}